mixin displayChildFriendly(childFriendly)
        unless !childFriendly
            .green.badge.badge-pill.badge-default.float-right Child Friendly!





mixin displayOpeningTimes(openingTimes)
    each time in openingTimes
        p.opening
        | #{time.days} : 
        if time.closed
          | closed
        else
            | #{time.opening} - #{time.closing}




mixin displayTags(tags)
    each tag in tags
        badge.badge.badge-pill.badge-default.float-right= tag 





mixin loadGyms(gyms)
    each gym in gyms
              .card
                .card-block
                  h2= gym.locationName
    
                  .opening
                    p= gym.address

                    +displayOpeningTimes(gym.openingTimes)

                  badge.badge.badge-pill.badge-default.float-right= gym.distance + "m"                   
                  
                  +displayTags(gym.tags)
                  
                  +displayChildFriendly(gym.kidFriendly)
