extends layout
include funcs/home

block content
  h1= title
   
  
        .row.banner
          .col-12
            h1= title
            small &nbsp;#{pageHeader.subtext}
        .row
          .col-12.col-md-9
            each gym in gyms
              .card
                .card-block
                  h2= gym.locationName
                  
                  .opening

                  +displayOpeningTimes(gym.openingTimes)
                  
                  badge.badge.badge-pill.badge-default.float-right= gym.distance + "m" 

                  h5= gym.address
                  
                  +displayTags(gym.tags)

                  +displayChildFriendly(gym.kidFriendly)

                  
            
           




