extends layout

block content
  h1= title
   
  
        .row.banner
          .col-12
            h1 #{title} 
            
            small &nbsp;#{pageHeader.subtext}
              
        .row
          .col-12.col-md-9
            each gym in gyms
              .card
                .card-block
                  h4= gym.locationName
                    a(href="/") 
                  
                    span.badge.badge-pill.badge-default.float-right= gym.distance + "m" 
                  p.address= gym.distance
                  
            
           




